#navbarScrollingDropdown {
  padding-block: 0px;
}

body {
  background-color: #f4f2ee;
}

#navbarScroll {
  background-color: #ffffff;
}

#footerList {
  background-color: transparent;
  border: none;
  font-size: small;
  font-weight: 500;
  color: gray;
}

#dropLang {
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 3px;
  color: gray;
  font-size: small;
  font-weight: 500;
  padding: 5px;
}

#contCoverLeft {
  overflow: hidden;
  height: 70px;
  position: relative;
}

#imgCoverLeft {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#imgProfCoverLef {
  height: 70px;
  width: 70px;
  top: 16%;
  left: 37%;
  position: absolute;
  z-index: 2;
}

#imgProfileLeft {
  height: 70px;
  width: 70px;
  border-radius: 100%;
}
.border-transition {
  transition: all 2s;
}
